
<EditForm Model="Movie" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <!-- TITLE -->
    <div class="form-group">
        <label>Title:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Movie.Title" />
            <ValidationMessage For="@(() => Movie.Title)" />
        </div>
    </div>

    <!-- In Theaters -->
    <div class="form-group">
        <label>In Theaters</label>
        <div>
            <InputCheckbox @bind-Value="Movie.InTheaters" />
            <ValidationMessage For="@(() => Movie.InTheaters)" />
        </div>
    </div>

    <!-- Trailer -->
    <div class="form-group">
        <label>Trailer:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Movie.Trailer" />
            <ValidationMessage For="@(() => Movie.Trailer)" />
        </div>
    </div>

    <!-- Release Date -->
    <div class="form-group">
        <label>Release Date:</label>
        <div>
            <InputDate class="form-control" @bind-Value="@Movie.ReleaseDate" />
            <ValidationMessage For="@(() => Movie.ReleaseDate)" />
        </div>
    </div>

    <div class="form-group">
        <InputImage Label="Picture" OnSelectedImage="PosterSelected" ImageUrl="@imageUrl" />
    </div>

    <div class="form-group form-markdown">
        <InputMarkdown @bind-Value="@Movie.Summary" Label="Summary" For="@(() => Movie.Summary)" />
    </div>

    <div class="form-group">
        <label>Genres:</label>
        <div>
            <MultipleSelector Selected="Selected" NoSelected="NotSelected"></MultipleSelector>
        </div>
    </div>

    <div class="form-group">
        <label>Actors:</label>
        <div>
            <MultipleSelectorTypeahead Context="person" SearchMethod="SearchMethod" SelectedElements="SelectedActors">
                <MyResultTemplate>
                    <img style="width: 50px;" src="@person.Picture" />
                    @person.Name
                </MyResultTemplate>
                <MyListTemplate>
                    @person.Name
                </MyListTemplate>
            </MultipleSelectorTypeahead>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Save Changes</button>
</EditForm>

@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public List<Genre> SelectedGenres { get; set; } = new List<Genre>();
    [Parameter] public List<Genre> NotSelectedGenres { get; set; } = new List<Genre>();
    [Parameter] public List<Person> SelectedActors { get; set; } = new List<Person>();

    private List<MultipleSelectorModel> Selected = new List<MultipleSelectorModel>();
    private List<MultipleSelectorModel> NotSelected = new List<MultipleSelectorModel>();
    private string imageUrl;

    protected override void OnInitialized()
    {

        Selected = SelectedGenres.Select(g => new MultipleSelectorModel(g.Id.ToString(), g.Name)).ToList();
        NotSelected = NotSelectedGenres.Select(g => new MultipleSelectorModel(g.Id.ToString(), g.Name)).ToList();

        if (!string.IsNullOrEmpty(Movie.Poster))
        {
            imageUrl = Movie.Poster;
            Movie.Poster = null;
        }
    }

    private void PosterSelected(string imageBase64)
    {
        Movie.Poster = imageBase64;
        imageUrl = null;
        Console.WriteLine(imageBase64);
    }

    private async Task<IEnumerable<Person>> SearchMethod(string searchText)
    {
        await Task.Delay(2000);
        return new List<Person>() { new Person() { Id = 1, Name = "Yarik Antoniuk", Picture = "https://i.work.ua/sent_photo/f/3/2/f32409372a190a449e22b37e0896acf3.jpg" },
                                    new Person() { Id = 2, Name = "Tom Hanks", Picture = "https://m.media-amazon.com/images/M/MV5BMTQ2MjMwNDA3Nl5BMl5BanBnXkFtZTcwMTA2NDY3NQ@@._V1_UY317_CR2,0,214,317_AL_.jpg" }
        };
    }
}
